@font-face {
    font-family: exo2;
    src: url(../fonts/exo2.woff2);
}

@font-face {
    font-family: barets;
    src: url(../fonts/barrets.ttf);
}

@font-face {
    font-family: emlatin;
    src: url(../fonts/emlatin.ttf);
}

body{
    font-family: monospace;
    overflow-x: hidden;
}

.nav{
    width: 100%;
    height: 56px;
    background-color: #81a29b;
    position: fixed;
    z-index: 99999;
    justify-content: space-between;
    font-size: 12px;
}

.nav ul {
    list-style: none;
    background-color: #81a29b;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'exo2', sans-serif;
    font-size: 1.2em;
    line-height: 70px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin-top: -6px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: none;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.nav .list-right{
    margin-right: 20px;
}

ul:not(.browser-default) {
    padding-left: 0px;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 60px;
        line-height: 70px;
        font-size: 1.4em;
        width: auto;
        padding: 0 20px;
    }
}


/* Option 1 - Display Inline */
.nav li {
    display: inline-block;
    margin-right: -4px;
    width: auto;
    padding: 0 20px;
}
  

.label-info label{
    font-size: 20px;
}

.input-web input{
    width: 100%;
}

section h2{
    font-size: 28px;
    margin: 0ppx;
}

.image-bg{
    width: 100%;
    height: 730px;
    background: url('../images/bg-desktop.jpg') no-repeat;
    background-size: cover;
    background-position: 0% 30%;
}

.image-bg-sponsor{
    width: 100%;
    height: 350px;
    background: url('../images/bg-desktop.jpg') no-repeat;
    background-size: cover;
    background-position: 0% 92%;
}

.image-bg-login{
    width: 100%;
    height: 250px;
    background: url('../images/bg-desktop.jpg') no-repeat;
    background-size: cover;
    background-position: 0% 92%;
}

.title-header{
    font-family: 'barets', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    top: 360px;
    position: relative;
    color: #81a29b;
    text-shadow: -5px 3px 4px rgba(150, 150, 150, 0.55);
    margin: 0 30px;
}

.subtitle-header{
    font-family: 'barets', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    top: 370px;
    position: relative;
    color: #81a29b;
    margin: 0 30px;
}

.subtitle-header-sponsor{
    font-family: 'barets', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    text-align: center;
    top: 176px;
    position: relative;
    color: #353232;
    margin: 0 30px;
}

.subtitle-header-login{
    font-family: 'barets', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    text-align: center;
    position: relative;
    color: #353232;
    margin: 0 30px;
}

.title-section{
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #848181;
    margin: 30px;
}

.image-how-it-work{
    width: 100%;
    height: 500px;
    background-color: #7a9c9666;
}

.image-login{
    width: 100%;
    height: 650px;
    background-color: #fff;
}

.bg-sponsor{
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.bg-news{
    width: 100%;
    height: 700px;
    background-color: #7a9c9666;
}

.bg-contact{
    width: 100%;
    height: 350px;
    background-color: #fff;
}

.image-distribution{
    width: 100%;
}

#btn-test-api, #btn-exercise-1, #btn-extra{
    margin-top: 50px;
}

.info-test-image, .info-image-1, .info-image-extra{
    display: none;
    height: 400px;
}
@media screen and (max-width: 992px) {
    .info-image-1 {
        top: 450px;
    }
}

#section-sponsor{
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#section-sponsor-login{
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 750px;
}

#section-login{
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 130px;
}

.login-box{
    border: 1px solid #888;
    border-radius: 5px;
    margin: auto;
    padding: 40px;
}

.row-login{
    margin-bottom: 40px !important;
}

.text-input{
    width: 360px;
    height: 45px;
}

.row-sponsor{
    min-height: 200px;
}

.row-result{
    min-height: 800px;
}

.title-analysis{
    font-size: 32px;
    color: #848181;
    margin: 30px;
}

.logo-web{
    margin-top: 20px;
    height: 70px;
}

.tick-logo{
    background: url(../images/tick.png) no-repeat;
    background-size: 19px;
    background-position: center;
    width: 25px;
    height: 12px;
    display: inline-block;
}

#logo-marca{
    background: url(../images/marca.png) no-repeat;
    background-size: 200px;
    background-position: center;
}

#logo-as{
    background: url(../images/as.png) no-repeat;
    background-size: 100px;
    background-position: center;
}

#logo-mundo-deportivo{
    background: url(../images/mundo-deportivo.png) no-repeat;
    background-size: 200px;
    background-position: center;
}

#logo-sport{
    background: url(../images/sport.png) no-repeat;
    background-size: 200px;
    background-position: center;
}

.col-info-json{
    margin: 50px auto;
}

.col-info-json, .col-info-json-exercise-1, .col-info-json-extra{
    margin-bottom: 50px;
    height: 550px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.code-json{
    text-align: left;
    font-size: 10px;
    max-height: 550px;
    overflow-y: auto;
    font-family: monospace;
    border: none;
}

.row{
    margin-bottom: 0;
}

ul:not(.browser-default) {
    padding-left: 40px;
    list-style-type: initial;
}

ul:not(.browser-default)>li {
    list-style-type: initial;
}

.card{
    margin: 0;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

a{
   color: #ff6f61;
}

.row-image-ej2{
    margin-top: 30px;
}

.icon-face{
    position: absolute;
    display: none;
    height:100px;
    width:100px;    
    z-index: 1;
}

.col-btn-exercise-2{
    margin: 30px 0;
}

.tick, .cross{
    display: none;
    position: absolute;
    top: 6%;
    left: 30%;
    width: 50%;
}

.row-map-show{
    display: none;
    margin: 120px auto;
    height: 500px;
    padding: 0 35px;
}

#map{
    height: 100%;
}

.lol-class {
    top: 0;
    left: 0;
    position: absolute;
    height: 70px;
    width: 60px;
    z-index: 1;
}

.image-to-analyze{
    width: 200px;
    background-size: cover;
}

.row-image{
    margin: 20px 0;
}

.col-image{
    margin: 10px 0;
}
span{
    font-size: 18px;
}

.btn-dark{
    margin: 20px;
}

#more-arrows {
    width: 75px;
    height: 65px;
    position: absolute;
    left: 47%;
    top: 75%;
}
  #more-arrows:hover polygon {
    fill: #81a29b;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
  #more-arrows:hover polygon.arrow-bottom {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
  
  polygon {
    fill: #81a29b;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }

  footer{
      width: 100%;
      height: 88px;
      background-color: #848181;
  }

  .footer-info{
    text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 16px;
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .progress{
    display: none;
    width: 100%;
    height: 34px;
    margin: 50px 0 20px;
  }
  
  .progress .progress-bar {
    width: 0%;
    height: 100%;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    background-color: #848181;
  }

.progress-info{
    font-style: italic;
    font-size: 14px;
}

.row-loading{
    min-height: 220px;
}

.row-result{
    display: none;
    min-height: 100px;
    margin-bottom: 40px;
}

.list-result{
    margin-top: 25px;
    text-align: left;
    display: inline-block;
    font-size: 18px;
}

.leyend-blue{
    width: 20px;
    height: 20px;
    background-color: #0f7f96;
    display: inline-block;
    margin-right: 7px;
    border-radius: 15px;
}

.leyend-yellow{
    width: 20px;
    height: 20px;
    background-color: #d8a407;
    display: inline-block;
    margin-right: 7px;
    border-radius: 15px;
}

.leyend-red{
    width: 20px;
    height: 20px;
    background-color: #dc3545;
    display: inline-block;
    margin-right: 7px;
    border-radius: 15px;
}

.btn-sponsor, .btn-login{
    width: 250px;
    height: 30px;
    border: 1px solid grey;
    padding: 20px 30px;
    line-height: 0;
    font-size: 20px;
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: .25rem;
}

.btn-sponsor:hover{
    background-color: #81a29b;
    text-decoration: none;
    color: #fff;
}

.btn-login:hover{
    background-color: #81a29b;
    text-decoration: none;
    color: #fff;
}

.logo-image{
    background: url(../images/logo-web.png) no-repeat;
    width: 205px;
    background-size: 210px;
    height: 38px;
    margin-top: 4px;
    margin-left: -40px;
}

.logo-bg-contact{
    background: url(../images/logo-bg-white.png) no-repeat;
    width: 540px;
    background-size: 520px;
    height: 150px;
}

.info-contact, .info-rrss{
    font-size: 18px;
    font-family: 'exo2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-rrss{
    margin-top: 20px;
}

.logo-instagram, .logo-twitter, .logo-fb{
    width: 80px;
    height: 60px;
    display: inline-block;
    margin-top: 10px;
}

.logo-instagram{
    background: url(../images/logo-insta.png) no-repeat;
    background-size: 75px;
    background-position: -15px -15px;
}

.logo-twitter{
    background: url(../images/logo-twitter.png) no-repeat;
    background-size: 45px;
}

.logo-fb{
    background: url(../images/logo-fb.png) no-repeat;
    background-size: 45px;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0) scaleX(3);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0) scaleX(1);
    }
  
    75% {
      transform: translate3d(10px, 0, 0) scaleX(0.98);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInRight {
    animation: bounceInRight;
    animation-duration: 2s;
  }

  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0) scaleX(3);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(25px, 0, 0) scaleX(1);
    }
  
    75% {
      transform: translate3d(-10px, 0, 0) scaleX(0.98);
    }
  
    90% {
      transform: translate3d(5px, 0, 0) scaleX(0.995);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    animation: bounceInLeft;
    animation-duration: 2s;
  }


.news-left, .news-right{
    opacity: 0;
}

.news{
    width: 420px;
    height: 265px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
}

.news-left-1{
    background: url(../images/news-left-1.png) no-repeat;
    background-size: 420px;
}

.news-right-1{
    background: url(../images/news-right-1.png) no-repeat;
    background-size: 420px;
}

.news-left-2 {
    background: url(../images/news-left-2.png) no-repeat;
    background-size: 420px;
}

.news-right-2{
    background: url(../images/news-right-2.png) no-repeat;
    background-size: 420px;
}

.news-left-1:hover, .news-right-1:hover, .news-left-2:hover, .news-right-2:hover{
    background-size: 430px;
    width: 430px;
}

.logo{
    height: 150px;
    margin: 20px 30px 0;
}

.logo-la-liga{
    background: url(../images/logos-patrocinadores/la-liga.png) no-repeat;
    background-size: 120px;
    background-position: right center;
}

.logo-fly-emirates{
    background: url(../images/logos-patrocinadores/fly-emirates.png) no-repeat;
    background-size: 120px;
    background-position: left center;
}

.logo-ea-sport{
    background: url(../images/logos-patrocinadores/ea-sport.png) no-repeat;
    background-size: 100px;
    background-position: center center;
}

.logo-puma{
    background: url(../images/logos-patrocinadores/puma.png) no-repeat;
    background-size: 120px;
    background-position: center center;

}

.logo-rexona{
    background: url(../images/logos-patrocinadores/rexona.png) no-repeat;
    background-size: 120px;
    background-position: right center;
}

.logo-bkt{
    background: url(../images/logos-patrocinadores/bkt.png) no-repeat;
    background-size: 120px;
    background-position: center center;
}

.logo-el-corte-ingles{
    background: url(../images/logos-patrocinadores/el-corte-ingles.jpeg) no-repeat;
    background-size: 120px;
    background-position: center center;
}

.logo-panini{
    background: url(../images/logos-patrocinadores/panini.png) no-repeat;
    background-size: 120px;
    background-position: left center;
}

.how-step{
    display: inline-block;
    margin: 30px;
    width: 380px;
    height: 300px;
    background-size: 380px;
}

.how-it-work-step-1{
    background: url(../images/step-1.png) no-repeat;
    background-size: 380px;
    height: 350px;
    background-position: center;
}

.how-it-work-step-1:hover{
    background-size: 390px;
}

.how-it-work-step-2{
    background: url(../images/step-2.png) no-repeat;
    background-size: 190px;
    height: 350px;
    background-position: right;
}

.how-it-work-step-2:hover{
    background-size: 200px;
}

.how-it-work-step-3{
    background: url(../images/step-3.png) no-repeat;
    background-size: 160px;
    height: 350px;
    background-position: center;
}

.how-it-work-step-3:hover{
    background-size: 170px;
}

.how-it-work-step-4{
    background: url(../images/step-4.png) no-repeat;
    background-size: 187px;
    height: 350px;
    background-position: left;
}

.how-it-work-step-4:hover{
    background-size: 197px;
}

.image-rm-1{
    background: url(../images/real-madrid/RM-1.jpg) no-repeat;
}

.image-rm-2{
    background: url(../images/real-madrid/RM-3.jpg) no-repeat;
}

.image-rm-3{
    background: url(../images/real-madrid/RM-18.jpg) no-repeat;
}

.image-rm-4{
    background: url(../images/real-madrid/RM-20.jpg) no-repeat;
}

.image-rm-5{
    background: url(../images/real-madrid/RM-67.jpg) no-repeat;
}

.image-rm-6{
    background: url(../images/real-madrid/RM-97.jpg) no-repeat;
}

.image-rm-min{
    background-size: contain;
    background-position: center center;
    width: auto;
    height: 100px;
    transition: transform .2s;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.image-rm-min:hover{
    transform: scale(2.5);
    cursor: pointer;
    z-index: 3;
}